@import "./scss/variables/index";
@import "./scss/base/index";
@import "./scss/components/index";
@import "./scss/shared/index";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $base-font;
  background-color: $orange;
  color: $white;
  display: grid;
  place-content: center;  
}
