.card {
    width: 320px;
    height: 350px;
    perspective: 800px;
  
    .card__inner {
      position: relative;
      height: 100%;
      transform-style: preserve-3d;
      transition: transform 0.5s;
  
      .card__body {
        position: absolute;
        inset: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        backface-visibility: hidden;
        border-radius: $border-s;
        box-shadow: $shadow;
        .header {
          display: flex;
          flex-direction: column;
          gap: 15px;
          padding-left: 10px;
          .title {
            font-family: "Poppins", sans-serif;
            font-size: $fs-l;
            letter-spacing: $l-s;
          }
          .price {
            font-size: $fs-xl;
            font-weight: $fw-l;
            letter-spacing: $l-s;
          }
          button{
              padding: 10px;
              border: 0;
              border-radius: $border-s;
              box-shadow: 5px 10px 10px $black;
              background-color: $pink; 
              color: $white;
              cursor: pointer;
              font-size: 15px;
              font-family: "Poppins", sans-serif;            
              letter-spacing: $l-s;            
          }
        }
  
        .headsphone {
          width: 180px;
          height: 180px;
        }
      }
      .card__body-front {
        background: #cb2d3e;
        background: -webkit-linear-gradient(to right, #ef473a, #cb2d3e);
        background: linear-gradient(to right, #ef473a, #cb2d3e);
      }
      .card__body-back {
        background: #cb2d3e;
        background: -webkit-linear-gradient(to right, #ef473a, #cb2d3e);
        background: linear-gradient(to right, #ef473a, #cb2d3e);
        transform: rotateY(180deg);
        justify-content: right;
      }
    }
  }
  .card:hover .card__inner {
    transform: rotateY(180deg);
  }
  button:hover{    
      transform: scale(1.1);
      transition: 1s;    
  }
  